.listPage {
  display: flex;
  height: 100%;
  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }
  .wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .mapContainer {
    flex: 2;
    background-color: #a6b3c683;
  }
}
