@use "../../responsive.scss";
.layout {
  height: 100vh;
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;

  @include responsive.lg {
    max-width: 1280px;
  }
  @include responsive.md {
    max-width: 768px;
  }
  @include responsive.sm {
    max-width: 640px;
  }

  .content {
    // flex: 1;
    height: calc(100vh - 100px);
  }
}
