@import "./responsive.scss";
.layout {
  // background-color: rebeccapurple;
  height: 100vh;
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 20px;

  @include lg {
    // background-color: coral;
    max-width: 1280px;
  }
  @include md {
    // background-color: cornflowerblue;
    max-width: 768px;
  }
  @include sm {
    // background-color: red;
    max-width: 640px;
  }
}
